body {
  margin: 0;
}

h2 {
  color: white;
  background-color: palevioletred;
  font-family: cursive;
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  width: 390px;
  height: 90px;
  padding-top: 30px;
}

#container-1 {
  background-color: pink;
  width: 355px;
  height: 95px;
  margin: 10px;
  position: relative;
  top: -410px;
  left: 8px;
  padding-top: 30px;
  border-radius: 20px;
}

#container-2 {
  color: #fff;
  background-color: palevioletred;
  width: 340px;
  height: 80px;
  margin: 10px;
  position: relative;
  top: -32.5px;
  left: -2.5px;
  padding-top: 30px;
  border-radius: 20px;
}

h3 {
  color: #fff;
  text-align: center;
  font-family: cursive;
  font-size: 60px;
  position: relative;
  top: -75px;
}

#flower-head {
  background-color: pink;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  top: 80px;
  left: 125px;
  z-index: 1000;
}

#petal-1 {
  background-color: maroon;
  width: 110px;
  height: 130px;
  position: relative;
  top: 30px;
  left: 130px;
  border-top-left-radius: 60px;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 999;
}

#petal-2 {
  background-color: maroon;
  width: 130px;
  height: 110px;
  position: relative;
  top: -160px;
  left: 42px;
  border-top-left-radius: 50%;
  border-top-right-radius: 55px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 60px;
  z-index: 990;
}

#petal-3 {
  background-color: maroon;
  width: 110px;
  height: 130px;
  position: relative;
  top: -365px;
  left: 130px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 55px;
  z-index: 995;
}

#petal-4 {
  background-color: maroon;
  width: 130px;
  height: 110px;
  position: relative;
  top: -400px;
  left: 195px;
  border-top-left-radius: 60px;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 50%;
  z-index: 998;
}

#tangkay {
  background-color: darkgreen;
  width: 20px;
  height: 200px;
  position: relative;
  top: -400px;
  left: 180px;
}

#dahon {
  background-color: darkgreen;
  width: 100px;
  height: 80px;
  position: relative;
  top: -650px;
  left: 190px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 90%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}